.button {
	-fx-background-color: #333333;
	-fx-text-fill: white;
	-fx-background-radius: .25em;
}

.button:hover {
	-fx-background-color: #262626;
}

.button:pressed {
	-fx-background-color: #1a1a1a;
}
