.button {
	-fx-background-color: white;
	-fx-text-fill: #333333;
	-fx-background-radius: .25em;
}

.button:hover {
	-fx-background-color: #f2f2f2;
}

.button:pressed {
	-fx-background-color: #e6e6e6;
}
